*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menuItem{
    padding:8px 0px;
    display: flex;
    align-items: center;
}

.itemLabel{
    font-size: 15px;
    font-weight: 400;
    margin-left: 12px;
}

itemIcon{
    font-size: 20px;
    margin-right:19px;
    font-weight: 300;
    color: #616161;
}


.itemActive{
    background-color:#f3efea ;
}